<html xmlns:th="http://www.thymeleaf.org">

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../static/css/widget.css" th:href="@{/css/widget.css}" rel="stylesheet" media="all"/>
<div class="container">
    <div class="space">
        <div class="row">
            <div >
                <div class="widget widget-call-to-action well-default">
                    <h3 class="widget-title" th:text="#{label.bombardiers}"/>
                    <th:block th:include="common/statistic/bombardiers"></th:block>
                </div>
            </div>
            <div >
                <div class="widget widget-call-to-action well-secondary">
                    <h3 class="widget-title" th:text="#{label.yellowCards}"/>
                    <th:block th:include="common/statistic/yellowCards"></th:block>
                </div>
            </div>
            <div >
                <div class="widget widget-call-to-action well-primary">
                    <h3 class="widget-title" th:text="#{label.skipGame}"/>
                    <th:block th:include="common/statistic/skipGames"></th:block>
                </div>
            </div>

        </div></div>
</div>
<script th:inline="javascript">
$(document).ready(function(){
        $('#back-to-top').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
});
</script>
</html>