<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title th:utext="#{titlePage.start}"></title>
<th:block th:include="common/common"></th:block>
<body>
<th:block th:include="common/_menu"></th:block>
<div th:insert="common/message :: message"></div>
<th:block th:include="common/statistic/statistic"></th:block>
</body>
<script th:inline="javascript">
$(window).on('load', function () {
    var $preloader = $('#p_prldr'),
        $svg_anm   = $preloader.find('.svg_anm');
    $svg_anm.fadeOut();
    $preloader.delay(500).fadeOut('slow');
});

    /*<![CDATA[*/ $(document).ready(function () {loadMessage( /*[[${message}]]*/); });/*]]>*/
</script>
</html>

